#############
## folders ##
#############
build

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
CATKIN_IGNORE
*.orig
*~
#########
## IDE ##
#########
*.idea
*.pyc
*.project
/cmake-build-debug/
